---
import AnnotationRoot from '../annotations/AnnotationRoot';
import '../../node_modules/@astrojs/starlight/style/markdown.css';
---

<div class="sl-markdown-content">
  <slot />
</div>

<AnnotationRoot client:load />
